In [25]:
import yahooquery
import numpy as np
import pandas as pd
import matplotlib as mp

In [20]:
symbol = 'AAPL'
ticker = yahooquery.Ticker(symbol)

In [21]:
# get price history - default is year to date but can specify period and frequency
hist = ticker.history()

In [22]:
hist = pd.DataFrame(hist)

In [24]:
#drop columns we don't plan to use from the history
hist = hist.drop(['high', 'open', 'low' , 'adjclose'], axis=1)

In [31]:
# We would like to use previus day's price and volume as inputs to predict today's price hence 
# shift values by one to create new columns 
hist['previous_close'] = hist['close'].shift(-1)
hist['previous_volume'] = hist['volume'].shift(-1)

In [30]:
hist

                        close     volume  previous_close  previous_volume
symbol date
AAPL   2021-01-04  129.410004  143301900      131.009995       97664900.0
       2021-01-05  131.009995   97664900      126.599998      155088000.0
       2021-01-06  126.599998  155088000      130.919998      109578200.0
       2021-01-07  130.919998  109578200      132.050003      104965400.0
       2021-01-08  132.050003  104965400      128.979996      100620900.0
       2021-01-11  128.979996  100620900      128.800003       91951100.0
       2021-01-12  128.800003   91951100      130.889999       88636800.0
       2021-01-13  130.889999   88636800      128.910004       90221800.0
       2021-01-14  128.910004   90221800      127.139999      111235300.0
       2021-01-15  127.139999  111235300      127.830002       90757300.0
       2021-01-19  127.830002   90757300      132.029999      104319500.0
       2021-01-20  132.029999  104319500      136.869995      120529500.0
       2021-01-21  136.869995  120529500      139.070007      113907200.0
       2021-01-22  139.070007  113907200      142.919998      157611700.0
       2021-01-25  142.919998  157611700      143.160004       98390600.0
       2021-01-26  143.160004   98390600      142.059998      140843800.0
       2021-01-27  142.059998  140843800      137.089996      142621100.0
       2021-01-28  137.089996  142621100      131.960007      177180600.0
       2021-01-29  131.960007  177180600      134.139999      106239800.0
       2021-02-01  134.139999  106239800      134.990005       83305400.0
       2021-02-02  134.990005   83305400      133.940002       87943000.0
       2021-02-03  133.940002   87943000      135.250107       28866004.0
       2021-02-04  135.250107   28866004             NaN              NaN

In [32]:
# drop any rows with data that is unavailable (NaN)
hist=hist.dropna()

In [33]:
hist

                        close     volume  previous_close  previous_volume
symbol date
AAPL   2021-01-04  129.410004  143301900      131.009995       97664900.0
       2021-01-05  131.009995   97664900      126.599998      155088000.0
       2021-01-06  126.599998  155088000      130.919998      109578200.0
       2021-01-07  130.919998  109578200      132.050003      104965400.0
       2021-01-08  132.050003  104965400      128.979996      100620900.0
       2021-01-11  128.979996  100620900      128.800003       91951100.0
       2021-01-12  128.800003   91951100      130.889999       88636800.0
       2021-01-13  130.889999   88636800      128.910004       90221800.0
       2021-01-14  128.910004   90221800      127.139999      111235300.0
       2021-01-15  127.139999  111235300      127.830002       90757300.0
       2021-01-19  127.830002   90757300      132.029999      104319500.0
       2021-01-20  132.029999  104319500      136.869995      120529500.0
       2021-01-21  136.869995  120529500      139.070007      113907200.0
       2021-01-22  139.070007  113907200      142.919998      157611700.0
       2021-01-25  142.919998  157611700      143.160004       98390600.0
       2021-01-26  143.160004   98390600      142.059998      140843800.0
       2021-01-27  142.059998  140843800      137.089996      142621100.0
       2021-01-28  137.089996  142621100      131.960007      177180600.0
       2021-01-29  131.960007  177180600      134.139999      106239800.0
       2021-02-01  134.139999  106239800      134.990005       83305400.0
       2021-02-02  134.990005   83305400      133.940002       87943000.0
       2021-02-03  133.940002   87943000      135.250107       28866004.0

In [40]:
from sklearn import model_selection
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LinearRegression
from sklearn import dummy, metrics, model_selection, preprocessing
from sklearn import model_selection

In [41]:
# X is the input and Y is the output. 
x_columns = ['previous_close', 'previous_volume']
y_columns = ['close']

In [42]:
# use sklearn to split the data automatically into training and testing data. 30% is for test in this case but can be changed
X_train, X_test, y_train, y_test = model_selection.train_test_split(hist[x_columns],hist[y_columns]\
                                                                                  , test_size=0.3, random_state=42)
cols = X_train.columns
std = preprocessing.StandardScaler()
X_train.loc[:, cols] = std.fit_transform(X_train)
X_test.loc[:,cols] = std.transform(X_test)

In [43]:
X_train

                   previous_close  previous_volume
symbol date
AAPL   2021-01-20        0.802151         0.541271
       2021-01-07       -0.383612         0.031325
       2021-01-08       -1.138862        -0.111020
       2021-01-28       -0.405752         2.397402
       2021-01-21        1.343374         0.324296
       2021-01-29        0.130547         0.073079
       2021-01-27        0.856273         1.265085
       2021-01-06       -0.661603         0.182460
       2021-01-15       -1.421771        -0.434193
       2021-02-03        0.403643        -2.462015
       2021-01-13       -1.156080        -0.451738
       2021-01-19       -0.388533         0.010162
       2021-01-25        2.349551        -0.184094
       2021-02-01        0.339656        -0.678349
       2021-01-12       -0.668983        -0.503670

In [44]:
# instantiate linear regression model and fit  using training data
lr = LinearRegression()

In [45]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [46]:
# score using test data
lr.score(X_test, y_test)

0.8117201915904162